a {
  color:black;
}
h1 {
  font-size: 60px;
  text-align: center;
}
  /*나중에 나온 클래스 선택자의 결과를 따름*/
/*아이디 선택자 > 클래스 선택자 > 태그 선택자*/
h1 {
  border-bottom: 1px black solid;
  margin: 0;
  padding: 20px;
}
#grid ol, ul {
  width:100px;
  margin:0;
  padding:10px;
  padding-left: 30px;
}
#grid ol {
  padding-top: 20px;
}
body {
  margin:0;
}
#grid {
  display:grid;
  grid-template-columns:150px 1fr;
}
iframe {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
}
.line {
  border-left: 1px black solid;
  padding-left: 10px;
  padding-right: 10px;
}
h2 {
  font-size: 50px;
}
@media(max-width:800px) {
  h1 {
    border-bottom:none;
  }
  .line {
    border-left:none;
  }
  #grid {
    display:unset;
  }
}
